<div class="invoice-container">
    <div class="image-container" style="float: left; padding-right: 20px;">
      <img src="<%= asset_url('default-logo.png') %>" alt="Descrição da imagem">
    </div>
    <div class="invoice-header" style="float: left; padding-top: 20px;">
      <h2>Fundação de Apoio à Educação e ao Desenvolvimento</h2>
      <h2>Tecnológico de Rio Grande do Norte </h2>
    </div>



    <div class="container">
      <h1 class="">Histórico de Leituras do Imóvel</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Data</th>
            <th>Leitura</th>
            <th>Consumo</th>
            <th>Valor do Consumo</th>
          </tr>
        </thead>
        <tbody>
          
        </tbody>
      </table>
    </div>
  </div>
  