<% show_collapse ||= show_collapse %>
<% audits ||= audits %>


<!--begin::Accordion-->
<div class="accordion" id="kt_accordion_audits">
  <div class="accordion-item">
    <h2 class="accordion-header" id="kt_accordion_audits_header_1">
      <button class="accordion-button fs-4 fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#kt_accordion_audits_body_1" aria-expanded="true" aria-controls="kt_accordion_audits_body_1">
        Histórico de Alterações
      </button>
    </h2>
    <div id="kt_accordion_audits_body_1" class="accordion-collapse collapse <%%= show_collapse %>" aria-labelledby="kt_accordion_audits_header_1" data-bs-parent="#kt_accordion_audits">
      <div class="accordion-body">
        <%= render partial: "audits/datatable" , locals: {audits: audits} %>
      </div>
    </div>
  </div>
</div>
<!--end::Accordion-->