<!--begin::Title-->
<h1 class="fw-bolder fs-2hx text-gray-900 mb-4">Ops!</h1>
<!--end::Title-->
<!--begin::Text-->
<div class="fw-semibold fs-6 text-gray-500 mb-7">Talvez você tentou mudar algo que você não tem permissão.</div>
<!--end::Text-->
<!--begin::Illustration-->
<div class="mb-3">
    <img src="https://i.ibb.co/72DHQTb/401-Error-Unauthorized-pana.pn" class="mw-100 mh-300px theme-light-show" alt="" />
</div>
<!--end::Illustration-->
<!--begin::Link-->
<div class="mb-0">
   <%= link_to "Retornar Página Inicial", root_path, class: "btn btn-sm btn-primary" %>
</div>
<!--end::Link-->