<%%- model_class=<%= singular_table_name.titleize %> -%>

<% remote ||= remote %>
<% show_collapse ||= show_collapse %>


<!--begin::Accordion-->
<div class="accordion" id="kt_accordion_<%% model_class.model_name %>">
  <div class="accordion-item">
    <h2 class="accordion-header" id="kt_accordion_<%% model_class.model_name %>_header_1">
      <button class="accordion-button fs-4 fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#kt_accordion_<%% model_class.model_name %>_body_1" aria-expanded="true" aria-controls="kt_accordion_<%% model_class.model_name %>_body_1">
        <%%= model_class.model_name.human(count: 2).titleize %>
      </button>
    </h2>
    <div id="kt_accordion_<%% model_class.model_name %>_body_1" class="accordion-collapse collapse <%%= show_collapse %>" aria-labelledby="kt_accordion_<%% model_class.model_name %>_header_1" data-bs-parent="#kt_accordion_<%% model_class.model_name %>">
      <div class="accordion-body">
        <%%= render partial: "<%= plural_table_name %>/datatable" , locals: {remote: remote} %>
      </div>
    </div>
  </div>
</div>
<!--end::Accordion-->