<%- model_class=Usuario -%>


<% content_for :page_title, t('helpers.titles.list', :model => model_class.model_name.human(count: 2).titleize) %>

<% content_for :breadcrumb do %>
    <li class="breadcrumb-item">
        <%= link_to model_class.model_name.human(count: 2).titleize, usuarios_path, class: 'text-muted text-hover-primary' %>
    </li>
    <!--begin::Item-->
    <li class="breadcrumb-item">
        <span class="bullet bg-gray-400 w-5px h-2px"></span>
    </li>
    <!--end::Item-->
    <li class="breadcrumb-item active" aria-current="page"><%= t('helpers.links.list') %></li>
<% end %>


<div class="card-body py-4">
    <%= render 'datatable' %>
</div>
