@charset "UTF-8";


/* Path: dist\css\docs.css */

/*content center*/
#container-center {
    display: flex;
    min-height: calc(100vh);
    padding-top: 57px !important;
    overflow: hidden;
  }
/**/

#container-center .sm-hero__sidenav, #container-center #main-content {
    max-height: calc(100vh - 57px);
    overflow: auto;
}