#image {
  float: left;
  padding-right: 20px;;
}

#header {
  margin-left: 150px;
  padding-top: 25px;
  text-align: center;
}


#downside {
  letter-spacing: 6px;
}

.recibo_title {
  text-align: center;
  padding-top: 150px;
}

.recibo_content {
  font-size: 25px; 
  padding-top: 100px; 
  width: 80%; 
  margin: 0 auto;
}

#text {
  text-indent: 40px;
}

#data-location {
  text-align: right;
   margin-top: 100px;
}

.notes {
  font-size: 20px;
  text-align: left; 
  margin-top: 425px;
  line-height: 2;
} 